/* styles.css */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: '#c4e8e8'; /* Optional background color */
}

#canvas-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
